
.animate-right{
    position:relative;
    animation:animateright 0.4s}
@keyframes animateright{
    from{right:-300px;opacity:0}
    to{right:0;opacity:1}}
.animate-opacity{
    animation:opac 0.8s
}
@keyframes opac{
    from{opacity:0} 
    to{opacity:1}
}


.content{
    margin-left: 4%;
 
}