h1 {
    color: aqua; text-align: center;font-style: bold; font-family: inherit;
 font-size-adjust: auto;font-size: 100px;
top: 0%}
h2 {
    color: bisque;text-align-last: left;font-family: sans-serif;text-decoration: underline;
}
h3{ font-family:inherit;
    color: black;
    border-radius: 10px;
   font-size: 30px;
   margin-top: 5%; 
    box-shadow: 0px 1px 10px #00bfff inset;    
    left: 40%;
    margin-left: 42%;
    margin-right: 40.2%;
    width: 60%;
 background-color: rgba(0,200,255,0.25);
    text-align: center;
}
h4{ font-size: 25px;
    color:darkturquoise;
    font-family:calibril; 
    text-align: center; 
    border-radius: 5px;
    margin-top: 5%; 
    box-shadow: 0px 1px 10px #00bfff inset;    
    left: 50%;
    width: 22%;
 background-color: rgba(0,200,255,0.15);
    
}
*{ 
    border: 2px  !IMPORTANT
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.row {
    width: auto; display: flex; flex-wrap: wrap; align-items: center; text-align:center; }
.col-1{ 
width: auto;
}
.col-2{
    width:15%;
    font-family: sans-serif;
    font-size-adjust: auto; 
    box-shadow: 0px 1px 10px #00bfff inset; 
    border-radius: 5px;
    background-color: rgba(0,200,255,0.25);
}
.col-3 {
    width: 20%; 

}
.col-4 {
    width: auto;
}
element.style {
     padding: 10px; margin: 10px;
}
.reading-area{
    width: 100%;
    height: 100%;
    overflow: auto;
}
@media only print and (max-width: 300px){
    p{ display: none;background-color: blue;}
}
.center { align-content: center;
    text-align: center;
    align-content: center;
    position: absolute;
    left: 10%;
    top: 20%;
    width: 80%;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-Left: 1%;
    padding-right: 1%;
    box-shadow: 0px 1px 10px #00bfff inset;
    border-radius: 15px;
   background-color: rgba(0,200,255,0.25);
    
}
.face{
    text-align: center;
    top: 50%;
    
}
.background{
    image-orientation: 1%;
}
.align{
    text-align: center;
    align-content: center;
    margin-top: 10px;
    margin-left: 43%;
    margin-right: 45.2%;
    box-shadow: 0px 1px 10px #00bfff inset;
    border-radius: 5px;
     background-color: rgba(0,200,211,0.45);
}
.icon{
    border-image-width: auto; width: 10px;color: darkturquoise; image-resolution: from-image; animation-duration: 10min ;
    display: inline-block;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.links {
    text-align: center;
}
body {
    color: #222;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    cursor: auto;
    background-image: url("images/back.jpg");
  
   background-position: 30% 20%;

    background-repeat: no-repeat;
    margin-right: 10%;  background-attachment: fixed;
    background-position: center; 
}
.img{
    box-sizing: border-box; 
    border-bottom-style: ridge;
    align-content: center;
    
}
.tab{
    text-align: center;
    margin-left: 35%;
    margin-right: 0%;
    margin-top: 0.5%;
    align-content: center;
    color: black;
    
    
}
.tab1{
    text-align: center;
    margin-left: 31%;
    margin-right: 0%;
margin-top: 0.50%;
   align-content: center; 
}
.tab2{
    text-align: center;
    margin-left: 43%;
    margin-right: 0%;
    margin-top: 0.50%;
    align-content: center;
}
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face{
font-family:calibril;
    src:url(font/calibril.ttf);
}
