@media only screen and (max-width:1200px){
h1 {
    color: aqua; text-align: center;font-style: bold; font-family: inherit;
 font-size-adjust: auto;font-size: 100px;
top: 0%}
h2 {font-size: 10px
    color: bisque;text-align-last: left;font-family: sans-serif;text-decoration: underline;
}
h3{ font-family:inherit;
    color: black;
    border-radius: 10px;
   font-size: 10px;
   margin-top: 5%; 
    box-shadow: 0px 1px 10px #00bfff inset;    
    left: 20%;
    
    margin-right: 30.2%;
    width: 75%;
 background-color: rgba(0,200,255,0.25);
    text-align: center;text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.3);
}
h4{ font-size: 10px;
    color:darkturquoise;
    font-family:calibril; 
    text-align: center; 
    border-radius: 5px;
    margin-top: 5%; 
    box-shadow: 0px 1px 10px #00bfff inset;    
    left: 50%;
    width: 35%;
 background-color: rgba(0,200,255,0.15);
    text-shadow: 1px 2px 0px rgba(0, 9, 0, 0.3);
}
*{ 
    border: 2px  !IMPORTANT
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.row {
    width: auto; display: flex; flex-wrap: wrap; align-items: center; text-align:center; }
.col-1{ 
width: auto;
}
a {
    color: black;
    text-decoration: none;
    line-height: inherit;
}
.col-2{
    width:30%;
    font-family: sans-serif;
    font-size: 10px;
    font-size-adjust: auto; 
    box-shadow: 0px 1px 10px #00bfff inset; 
    border-radius: 5px;
    background-color: rgba(0,200,255,0.25);
    text-decoration: none;
}
.col-3 {
    width: 20%; 

}
.col-4 {
    width: auto;
}
element.style {
     padding: 10px; margin: 10px;
}
.reading-area{
    width: 100%;
    height: 100%;
    overflow: auto;
}
    .center { align-content: center;
    text-align: center;
    align-content: center;
    position: absolute;
    left: 10%;
    top: 20%;
    width: 80%;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-Left: 1%;
    padding-right: 1%;
    box-shadow: 0px 1px 10px #00bfff inset;
    border-radius: 15px;
   background-color: rgba(0,200,255,0.25);
    
}
.face{
    text-align: center;
    top: 50%;
    
}
.background{
    image-orientation: 1%;
}
.align{
    text-align: center;
    align-content: center;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0px 1px 10px #00bfff inset;
    border-radius: 5px;
     background-color: rgba(0,200,211,0.45);
}
.icon{
    border-image-width: auto;
    width: 20px;
    color: darkturquoise;  
    animation-duration: 0.3sec ;
    animation-fill-mode: forwards;
    display: inline-block;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.links {
    text-align: center;
}
body {
    color: #222;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    cursor: auto;
    background-image: url("images/back.jpg");
  
   background-position: 30% 20%;

    background-repeat: no-repeat;
    margin-right: 10%;  background-attachment: fixed;
    background-position: center; 
}
.img{
    box-sizing: border-box; 
    border-bottom-style: ridge;
    align-content: center;
 
}
.tab{
    text-align: center;
    margin-left: 15%;
    margin-right: 0%;
    margin-top: 0.5%;
    align-content: center;
    color: black;
    
    
}
.tab1{
    text-align: center;
    margin-left: 28%;
    margin-right: 0%;
margin-top: 0.50%;
   align-content: center; 
}
.tab2{
    text-align: center;
    margin-left: 43%;
    margin-right: 0%;
    margin-top: 0.50%;
    align-content: center;
}
*, *::before, *::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face{
font-family:calibril;
    src:url(font/calibril.ttf);
}

}